/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
header a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: left;
    font-size: 60px;
    padding-top: 50px;
}
h2{
    font-size: 32px;
}
.check i{
    color: #0061ff;
}


/* COMMON */
.row{
    display: flex;
}
.container-big{
    max-width: 1180px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin: auto;
}
.col-small{
    max-width: 30%;
}
.col-big{
    max-width: 70%;
}
img{
    max-width: 100%;
}
.tag{
    text-align: center;
    border-bottom: 1px solid lightgray;
    max-width: 100%;
    padding: 5px 0;
    font-size: 14px;
}
main a{
    color: #0061ff;
}
hr{
    width: 50px;
    margin: 40px 0;
}
.mb{
    margin-bottom: 20px;
}


/* BUTTONS */
.btn-white{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px;
    border: 2px solid grey;
    transform: all;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #0061ff;
    transform: all;
}
/* effetti */
.btn-blue:hover{
    background-color: darkblue;
    transition: 0.5s;
}
.btn-white:hover{
    background-color: lightgrey;
    transition: 0.5s;
    
}
.btn-blue:active{
    color: grey;
    transition: none;
}
.btn-white:active{
    color: white;
    transition: none;
}
main a:hover{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.faq:hover{
    background-color: lightgrey;
    padding-left: 20px;
    transition: 0.5s;
}

/* HEADER */
header{
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
header > div{
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    
}
header .row{
    background-color: white;
}
.header-col{
    align-items: center;
    padding: 20px 10px;
}
header li{
    padding: 0 20px;
}
header ul{
    align-items: center;
}
header .btn-blue{
    margin-left: 20px;
}


/* MAIN */
.hero{
    background-color: #b4d0e7;
    margin-top: 70px;
}
.hero .col-small,.hero .col-big{
    position: relative;
    top: 80px;
    margin-top: -20px;
}
.hero button{
    padding: 10px;
    margin:20px 0;
}
.hero i{
    font-size: 36px;
    padding-top: 100px;
}
/* business plans */
.mt{
    margin-top: 150px;
}
.fatturazione{
    padding-top: 40px;
    padding-bottom: 40px;
}
label{
    margin-right: 40px;
}
.business .row{
    justify-content: space-between;
}
/* offerte dropbox */
.row .offerte{
    width: 30%;
    border: 1px solid lightgray;
}
.offerte small{
    display: block;
}
.offerte .description{
    padding: 20px 20px 30px 20px;
}
.description h3{
    margin-bottom: 10px;
}
.description small{
    margin-bottom: 10px;
}
.description ul{
    margin-top: 40px;
}
.description li{
    margin: 10px 0;
    display: flex;    
}
.description i{
    padding-right: 10px;
}
.description button{
    margin: 30px 0;
    font-size: 14px;
    padding: 10px 20px;
    width: calc(100% - 20px);
}
/* contatto enterprise */
.enterprise{
    border: 1px solid lightgray;
    margin-top: 40px;   
}
.enterprise .row{
    justify-content: space-between;
}
.enterprise .more-info{
    padding: 50px 30px 20px 30px;
    position: static;
}
.enterprise .col-small{
    padding: 30px 30px;
}
.enterprise .btn-blue{
    padding: 10px 20px;
}
.enterprise small{
    display: block;
    margin: 20px 0 50px 0;
}
.enterprise p{
    font-size: 14px;
}
/* trova un partner */
#search-partner{
    margin-top: 100px;
}
#search-partner .col-small{
    padding: 50px 0 50px 50px;
    width: 40%;
}
#search-partner .col-big{
    width: 60%;
}
#search-partner p{
    margin: 30px 0;
}
/* tools */
.tools{
    flex-wrap: wrap;
    justify-content: space-between;
}
.tool{
    margin-top: 30px;
    
}

#scopri .col-big{
    width: 55%;
}
#scopri h2{
    margin-bottom: 50px;
}
/* partner */
.partners{
    max-width: 100vw;
    display: flex;
    margin-top: 150px;
}
.partner-col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}
.partner{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.center{
    display: block;
    padding: 50px;
    background-color: #f5f5f5;
    overflow-y: auto;
}
.center img{
    width: 50%;
}
.center p{
    margin-bottom: 50px;
}
.center hr{
    width: 100px;
}
.partner img{
    filter: invert(100%);
}
/* colori background partner */
#designit{
    background-color: #a2d39b;
    box-shadow:0 0 0 15px inset #d1e9cd;
}
#asu{
    background-color: #61082b;
}
#uf{
    background-color: #0093ce;
}
#topps{
    background-color: #ff1c1c;
}
#wbr{
    background-color: #d5001f;
}
#hc{
    background-color: #b4d0e7;
}
#lp{
    background-color: #0d2481;
}
#cc{
    background-color: #ffd830;
}
/* sezione prova gratuita */
#free-section{
    max-width: 100vw;
    background-color: #b4d0e7;
    padding: 100px 0;
}
#free-section .row{
    justify-content: space-between;
}
#free-section .col-big{
    width: 40%;
    color: #61082b;
}
#free-section .col-small{
    width: 40%;
}
#free-section .btn-white{
    padding: 10px 40px;
    border: 1px solid white;
}
/* FAQ */
.faq{
    padding: 30px 0;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.faq i{
    margin-right: 30px;
}
.faq:nth-child(2){
    border-top: 1px solid grey;
    margin-top: 30px;
}
section:last-child{
    margin-bottom: 150px;
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer .row{
    justify-content: space-between;
    padding: 100px 0;
}
footer h3{
    margin-bottom: 30px;
}
footer li{
    margin: 10px 0;
}
.language{
    display: inline-block;
    border-top: 1px solid white;
    padding: 50px 20px 50px 0;
    color: grey;
}